<div class="column">


  <div class="card">
  <h4 class= "title"><%=  customer.name %> </h4>
    <% if customer.image.present?%>
      <div class="card-image">
        <figure class="image">
          <%= image_tag customer.image%>
        </figure>
      </div>
    <% end %>

    <div class="card-content">

      <br>

      <p><%=  customer.phone %> </p> <br>
      <p><%=  customer.email %> </p> <br>

    </div>
    <footer class="card-footer">
    </footer>


  </div>
</div>

