<h1 class="title" >All Customers</h1>
<div class="columns is-multiline">
  <%= render @customers%>
</div>
<h4><%= link_to "missing_email", missing_email_path%></h4>
<h4><%= link_to "index", root_path%></h4>