<h1 class="title" >All Customers</h1>
<div class="columns is-multiline">
  <%= render @customers%>
</div>
<h4><%= link_to "alphabetized", alphabetized_path%></h4>
<h4><%= link_to "index", root_path%></h4>